*{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
    color: #91503d;
}

/*
--------------------------------------------------------------------------------
A PARTIR DE ACA LE VAMOS A DAR FORMATO AL HEADER PARA FORMATO DESKTOP Y TABLET
--------------------------------------------------------------------------------
*/
.HeaderDesktop{
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    background-color: #ececec;
    width: 100%;
    max-width: 100vw;
    z-index: 10000;
}
.HeaderDesktop-tittle{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    height: 15vh;
    width: 10vh;
}
.SaquitosdeMechiLogo{
    height: 7vh;
    margin: auto;
}
.NavDesktop{
    height: 15vh;
}
.UlNavDesk{
    display: flex;
    flex-flow: row wrap;
    height: 15vh;
}
.LiUlNavDesk{
    display: inline;
    width: auto;
    margin: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 13vh;
    display: flex;
}
.ALiUlNavDesk{
    text-decoration: none;
    color: #91503d;
    font-size: 20px;
    margin: auto;
}
.ALiUlNavDesk:hover{

    color: #B7735F;
    transform: scale(1.1);
    transition: .1s;
}
/*
--------------------------------------------------------------------------------
FORMATO QUE APLICA A TODAS LAS SECTIONS
--------------------------------------------------------------------------------
*/
.Section{
    padding-top: 20vh;
    padding-bottom: 0;
}
/*
--------------------------------------------------------------------------------
A PARTIR DE ACA LE VAMOS A DAR FORMATO A LA SECTION INICIO
--------------------------------------------------------------------------------
*/

.Section-Inicio{
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
    min-height: 70vh;
    background-color: #fcfcfc;
    align-items: start;
}
.inicio-DivTexto{
    margin: auto;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}

.inicio-Titulo{
    width: 100%;
    height: 10vh;
    font-size: 26px;
    text-align: center;
}
.inicio-Parrafo{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 2vh;
}
.inicio-DivImagen{
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
}
.inicio-DivImagen_SaquitoSalva{
    max-width: 40vw;
    max-height: 60vh;
    margin: auto;
    margin-top: 0;
}

/*
--------------------------------------------------------------------------------
A PARTIR DE ACA LE VAMOS A DAR FORMATO A LA SECTION TEJIDOS
--------------------------------------------------------------------------------
*/

.Section-Tejidos{

}
.Section-Tejidos_Titulo{
    width: 100%;
    text-align: center;

}
.GaleriaDeImagenes{
    width: 100%;
    box-sizing: border-box;
    padding: 9.99vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-flow: row wrap;


}
.MuestraImagen{
    width:18.5vw;
    padding: .1vw;
    
    transition: .5s;
    height: 18.5vw;
}
.MuestraImagen:hover{
    transform:scale(1.3);
    padding: .1vw;
    z-index: 10;
}

/*
--------------------------------------------------------------------------------
A PARTIR DE ACA LE VAMOS A DAR FORMATO A LA SECTION CONTACTO
--------------------------------------------------------------------------------
*/


.footerTag{
    width:100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #702f59;
    display: flex;
    flex-flow: row wrap;
    min-height: 60vh;
}
.containerOfFooter{
    width:90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
.footerForm{
    width:60%;
    min-height: 65vh;
    display: flex;
    flex-flow: row wrap;

}
.form{
    background-color: #91503d;
    width: 65%;
    padding:4%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}
.formRow{
    width:92%;
    min-height: 5vh;
    padding-bottom: 2vh;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}
.tittleOfForm{
    color: #fcfcfccc;
}
.singleInput{
    width: 100%;    
    background-color:#fcfcfccc;
    border: none;
    padding-left: 10px;
}

.ph-color::placeholder{
    color: #91503d;
    
}
.textarea{
    color: #91503d;
    width: 100%;
    background-color:#fcfcfccc;    
    padding-left: 10px;
    padding-right: 10px;
}
.footerInf{
    width: 30%;
    height: 65vh;
    color:#ececec;
    display: flex;
    flex-flow: column wrap;
}
.footerBlock{
    color: inherit;
    width: 100%;
    height: 100px;   
}
.footerBlock-tittle{
    color: inherit;
    font-size:20px;
}
.footerList{
    color: inherit;
    list-style: none;
}
.footerListItem{
    color: inherit;
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .inicio-DivTexto{
        width: 100vh;
        margin: auto;
        margin-top: 5vh;
    }
    .inicio-DivImagen{
        width: 100%;
        height: auto;
        display: flex;
    }
    .inicio-DivImagen_SaquitoSalva{
        max-width: 100vw;
        max-height: 60vh;
        margin: auto;
        margin-top: 0;
    }
    .Section-Inicio{
        padding-top: 15vh;
    }
}
.SectionExito{
    display: flex;
    flex-flow: row wrap;
    background-color: #702f59;
    height: 100vh;
}

.SectionExtito-div{
    margin: auto;
    background-color: #702f59;
    border-radius: 5px;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-flow: row wrap;
}
.SectionExito-p{
    box-sizing: border-box;
    padding: 5%;
    font-size: 30px;
    width: 100%;
    color: #ececec;
    margin: auto;
}
.spinner-border{
    margin: auto;
    color: #ececec;
}